<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <packages>
    	<package name="com.clearcode.testsuite">
    	<include name="smoke"></include>
    	</package>
    </packages>
  </test>
   <test thread-count="5" name="Test2">
    <classes>
      <class name="com.clearcode.testsuite.TestSuite1">
      	<methods>
      		<include name="createPatient"></include>
      		<include name="searchPatient"></include>
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
